<!DOCTYPE html>
<html>
  <head>
    <title>Comments</title>
  </head>
  <body>
    <h1>Register</h1>
    {% if registered %}
    <strong>Thanks for registering.</strong>
    <a href="/comments/">Return to home page</a><br />
    {% else %}
    <strong>Register here.</strong>
    <form id="user_form" method="post" action="/comments/register/">
      {% csrf_token %}
      {{ user_form.as_p }}
      <input type="submit" name="submit" value="Register"/>
    </form>
    {% endif %}
  </body>
</html>
